extends layouts/_default

mixin svg(file)
  - var xml = fs.readFileSync(file)
  div.svg-container!= xml

block content
  
  .center-screen
    .me-wrap
      .me
        +svg('./app/images/me.svg')
      
      .contact
        a(href="mailto:adam.mockor@gmail.com") adam.mockor@gmail.com