doctype html
html.no-js
  head
    meta(charset="utf-8")
    title Adam Močkoř
    meta(name="description", content="My personal site")
    meta(name="viewport", content="width=device-width")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    // build:css styles/vendor.min.css
    // endbuild
    // build:css({.tmp,app}) styles/main.min.css
    // bower:css
    // endbower
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    

  body

    include ../modules/_header

    main
      block content

    include ../modules/_footer

    // build:js(./app/) scripts/vendor.min.js
    // bower:js
    script(src='../bower_components/gsap/src/uncompressed/TweenMax.js')
    // endbower
    // endbuild
    // build:js scripts/plugins.min.js
    script(src="scripts/modules/aniMe.js")
    // endbuild
    // build:js({app,.tmp}) scripts/main.min.js
    script(src="scripts/main.js")
    // endbuild
